
/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/

$color-kabul : #6F5F51;
$color-americano : #8B7F72;
$color-heathered-grey : #968B7F;
$color-silk : #B6AEA7;
$color-spring-wood : #E5E2DF;
$color-white : #FFFFFF;
$color-apricot : #FFCCB7;
$color-chablis : #FFEAE0;
$color-input-placeholder : #D0CDC6;


.background-color-white{
  background-color: $color-white;
}
.background-color-chablis{
  background-color : $color-chablis;
}
.background-color-heathered-grey{
  background-color: $color-heathered-grey;
}
.background-color-spring-wood{
  background-color : $color-spring-wood;
}
.color-kabul{
  color: $color-kabul;
}
.color-heathered-grey{
  color: $color-heathered-grey;
}
.color-white{
  color: $color-white;
}
.color-americano{
  color: $color-americano;
}