@import "fonts.scss";
@import "colors.scss";


/*----------------------------------------------------------------//
//                          Copyright                            //
//--------------------------------------------------------------*/
.copyright{
  margin-left: 262px;
}
.copyright-text-color-kabul{
  color: $color-kabul;
  font-family: Arial, sans-serif;
  font-size: 19px;
}
.copyright-icons{
  width: 49px;
  height: 49px;

}
