@import "fonts.scss";
@import "colors.scss";


/*----------------------------------------------------------------//
//                          Copyright                            //
//--------------------------------------------------------------*/
.copyright{
  margin-left: 262px;
}
.copyright-text-color-kabul{
  color: $color-kabul;
  font-family: Arial, sans-serif;
  font-size: 19px;
}
.copyright-icons {
  width: 24.5px;
  height: 24.5px;
}

.pr-3 {
  padding-right: 0px!important;
  margin-right: 1rem!important;
}
