@import "fonts.scss";
@import "style.scss";


/*----------------------------------------------------------------//
//                          Copyright                            //
//--------------------------------------------------------------*/

.copyright-text-color-kabul{
  color: $color-kabul;
  font-family: Arial, sans-serif;
  font-size: 19px;
}
.copyright-icons{
  width: 49px;
  height: 49px;

}
