@import "fonts.scss";
@import "colors.scss";

/*-------------------------------------------------------------//
//                          Footer                            //
//-----------------------------------------------------------*/
.footer-nav{
  display: inline-block;
  list-style: none;
  padding-inline-start: 0;
}
.footer-nav-item{
  display: inline-block;
  margin-right: 1em;
}
.footer-logo{
  width: 192px;
  height: 215px;
}
.footer-custom-container{
  max-width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 5%;
  margin-left: 9%;
}
.footer-social-icons{
  width: 27px;
  height: 27px;
}
.footer-company-infos-icons{
  width: 22.85px;
  height: 22.85px;
}
.raleway-light-style{
  font-family: Raleway-Light;
  font-size: 17px;
}
