

/*---------------------------------------------------------//
//                          CSS                            //
//---------------------------------------------------------*/

$color-kabul : #6F5F51;
$color-americano : #8B7F72;
$color-heathered-grey : #968B7F;
$color-silk : #B6AEA7;
$color-spring-wood : #E5E2DF;
$color-white : #FFFFFF;
$color-apricot : #FFCCB7;
$color-chablis : #FFEAE0;

/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/

.background-color-heathered-grey{
  background-color: $color-heathered-grey;
}
.background-color-spring-wood{
  background-color : $color-spring-wood;
}


.color-white{
  color: $color-white;
}

/* Navbar */
header{
  background-color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link{
  font-family: avenir, sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 0 10px;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
  color: #6F5F51;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link:hover{
  color: #FFCCB7;
  font-weight: 900;
}

.navbar-nav{
  text-align: right;
}

.navbar-brand{
  width: 5%;
}


/* Headings */

h1{
  font-family: raleway, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 34px;
}

h2{
  font-family: raleway, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 13px;
  text-transform: uppercase;
}


h4{
  font: Bold 19px/26px Raleway;
}

h5{
  font-family: miller-headline, serif;
  font-style: normal;
  font-size: 20px;
}

/* TEXTE */
a{
  color: white;
}

/* PRESENTATION EN IMAGES */
#presentation{
  background-image: url("../pictures/Slider_1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  padding: 12% 0 10% 0;
}

.chochin {
  box-shadow: 10px 10px 0 #FFEAE0;
  width: 100%;
  margin-bottom: 30%;
}

.logo-accueil{
  width: 20%;
  margin-bottom: 10%;
}

.ancre-bas{
  width: 40px;
}

.main-raised {
  margin: -4% 13% 0;
}

p {
  margin: 11% 10% 0 0;
}

.rectangle{
  width: 530%;
  height: 3%;
  background: #feeae0;
  margin: 305% -20px;
}

.rectangle2{
  width: 335%;
  height: 3%;
  background: #feeae0;
  margin: 305% -20px;
}

.h1-left {
  font-family: lora, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  margin-top: 33.8%;
}

.p-left {
  font-family: lora, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  line-height: 2.3em;
  margin-bottom: 9%;
}

.btn-primary{
  text-transform: uppercase;
  font-family: raleway ,sans-serif;
  font-size: 12px;
  font-style: normal;
  padding: 2.5% 9.5%;
  border: 2px solid #968B7F;
  background-color: #ffffff;
  border-radius: 0;
}

.btn-primary:hover{
  text-transform: uppercase;
  font-family: raleway ,sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  border: 2px solid #FFCCB7;
  background-color: #FFCCB7;
  border-radius: 0;
}

.text-brown{
  color: #968B7F;
}

#patisseries{
  background-color: #E5E2DF;
  width: 100%;
  padding: 6% 0 10% 0;
}

.container-sm{
  margin-top: 7%;
}

.sponsor{
  width: 100%;
}

.nav{
  display: block;
  text-align: right;
}

.nav li{
  display: inline-block;
}

.nav li a{
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 0;
}

.nav-link{
  color: #ddd;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}

.nav-icons{
  display: block;
  text-align: left;
}

.align-left{
  font-family: open sans,sans-serif;
  font-size: 14px;
}





/*-------------------------------------------------------------//
//                          Footer                            //
//-----------------------------------------------------------*/
.footer-nav{
  display: inline-block;
  list-style: none;
  padding-inline-start: 0px;
}
.footer-nav-item{
  display: inline-block;
  margin-right: 1em;
}
.footer-typo{
  font-family: Raleway, serif;
  font-weight: lighter;
  font-size: 17px;
}
.footer-logo{
  width: 192px;
  height: 215px;
}
.footer-custom-container{
  max-width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 5%;
  margin-left: 9%;
}
.footer-social-icons{
  width: 27px;
  height: 27px;
}
.footer-company-infos-icons{
  width: 22.85px;
  height: 22.85px;
}

/*----------------------------------------------------------------//
//                          Copyright                            //
//--------------------------------------------------------------*/

.copyright-text-color-kabul{
  color: $color-kabul;
  font-family: Arial, sans-serif;
  font-size: 19px;
}
.copyright-icons{
  width: 49px;
  height: 49px;

}
