@import "fonts.css";
/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
.background-color-white {
  background-color: #FFFFFF;
}

.background-color-chablis {
  background-color: #FFEAE0;
}

.background-color-heathered-grey {
  background-color: #968B7F;
}

.background-color-spring-wood {
  background-color: #E5E2DF;
}

.color-kabul {
  color: #6F5F51;
}

.color-heathered-grey {
  color: #968B7F;
}

.color-white {
  color: #FFFFFF;
}

.color-americano {
  color: #8B7F72;
}

/*---------------------------------------------------------//
//                          CSS                            //
//---------------------------------------------------------*/
/* Navbar */
header {
  background-color: #FFFFFF;
}

.navbar {
  height: 97px;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: Avenir-Heavy;
  font-weight: 500;
  display: inline-block;
  padding: 0 10px;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
  color: #6F5F51;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link:hover {
  color: #FFCCB7;
  font-weight: 900;
}

.navbar-nav {
  text-align: right;
}

.navbar-brand {
  width: 5%;
  margin-left: 140px;
  margin-right: 850px;
}

/* Headings */
h1 {
  font-family: Raleway-Bold;
  font-size: 27px;
  letter-spacing: 17.25px;
  color: #968B7F;
  text-transform: uppercase;
  opacity: 1;
}

h2 {
  font-family: Raleway-Bold;
  font-size: 27px;
  letter-spacing: 13px;
  text-transform: uppercase;
}

h3 {
  font-family: Lora-Regular;
  font-size: 35px;
  color: #6F5F51;
}

h4 {
  font-family: Raleway-Bold;
}

h5 {
  font-family: miller-headline, serif;
  font-style: normal;
  font-size: 20px;
}

/* TEXTE */
p {
  font-family: Lora-Regular;
  font-size: 19px;
}

a {
  color: white;
}

.w-80 {
  width: 80% !important;
}

/* IMAGE */
.image-text-header {
  font-family: Raleway-Bold;
  font-size: 44px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.box-no-hover {
  position: relative;
  display: inline-block;
  /* Make the width of box same as image */
}

.image-text-centered-bottom {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 80%;
  /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%;
  /* Set the width of the positioned div */
}

.section-titre {
  height: 200px;
  margin-bottom: 104px;
}

.section-titre div h1 {
  padding-top: 104px;
  padding-bottom: 65px;
}

.box-shadow-left {
  box-shadow: -10px 10px 0 #FFEAE0;
  margin-bottom: 5%;
}

.btn-primary {
  text-transform: uppercase;
  font-family: Raleway-Bold;
  font-size: 12px;
  font-style: normal;
  padding: 2.5% 9.5%;
  border: 2px solid #968B7F;
  background-color: #ffffff;
  border-radius: 0;
}

.btn-primary:hover {
  text-transform: uppercase;
  font-size: 19px;
  border: 2px solid #FFCCB7;
  background-color: #FFCCB7;
  border-radius: 0;
}

.nav {
  display: block;
  text-align: right;
}

.nav li {
  display: inline-block;
}

.nav li a {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 0;
}

.nav-link {
  color: #ddd;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}

.nav-icons {
  display: block;
  text-align: left;
}

.nav-item {
  padding: 0 56px 0 0;
}

/*# sourceMappingURL=style.css.map */
