@font-face {
  font-family: Raleway-Light;
  src: url("../fonts/Raleway-Light.ttf"); }

@font-face {
  font-family: Raleway-Medium;
  src: url("../fonts/Raleway-Medium.ttf"); }

@font-face {
  font-family: Futura-Medium;
  src: url("../fonts/Futura-Medium.ttf"); }

@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold.ttf"); }

@font-face {
  font-family: Lora-Regular;
  src: url("../fonts/Lora-Regular.ttf"); }

@font-face {
  font-family: Sacramento-Regular;
  src: url("../fonts/Sacramento-Regular.ttf"); }

@font-face {
  font-family: Avenir-Heavy;
  src: url("../fonts/Avenir-Heavy.ttf"); }

/*--------------------------------------------------------------//
//                          Couleur                            //
//------------------------------------------------------------*/
.background-color-white {
  background-color: #FFFFFF; }

.background-color-chablis {
  background-color: #FFEAE0; }

.background-color-heathered-grey {
  background-color: #968B7F; }

.background-color-spring-wood {
  background-color: #E5E2DF; }

.color-kabul {
  color: #6F5F51; }

.color-heathered-grey {
  color: #968B7F; }

.color-white {
  color: #FFFFFF; }

.color-americano {
  color: #8B7F72; }

/*---------------------------------------------------------------------//
//                          Les Patisseries                            //
//---------------------------------------------------------------------*/
.align-left {
  font-family: open sans, sans-serif;
  font-size: 14px; }

.patisserie-nav {
  display: inline-block;
  list-style: none;
  padding-inline-start: 0;
  border-bottom: 0.1px solid;
  border-bottom-color: #707070; }

.patisserie-nav-item {
  display: inline-block;
  color: #6F5F51;
  border-bottom: 3px solid #707070;
  margin-right: 2em; }

.patisserie-nav-item:hover {
  border-bottom: 3px solid #FFCCB7;
  font-weight: bold; }

.active-categorie {
  border-bottom: 3px solid #FFCCB7; }

.active-categorie a {
  color: #FFCCB7;
  font-weight: bold; }

.patisserie-nav-link {
  font-family: Raleway-Light;
  font-size: 27px;
  font-weight: lighter;
  color: #6F5F51;
  padding: 0.5em; }

.patisserie-nav-link:hover {
  color: #FFCCB7;
  font-weight: bold;
  text-decoration: none; }

.patisserie-img {
  padding: 1em; }

/** MODAL **/
.rectangle-modal {
  width: 255%;
  height: 3%;
  background: #feeae0;
  margin: 130% -20px; }

.chochin-modal {
  box-shadow: 20px 20px 0 #FFEAE0;
  width: 100%;
  margin-bottom: 30%; }

.modal-full {
  min-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%; }

.modal-full .modal-content {
  min-height: 800px; }

.modal-content {
  border-radius: 1.3rem; }

.modal-custom-title {
  font-family: Futura-Medium;
  font-size: 29px;
  text-transform: uppercase;
  color: #968B7F;
  padding-bottom: 55px; }

.modal-padding-top {
  padding-top: 18.4%; }

.modal-presentation {
  width: 51%;
  font-family: Raleway-Medium;
  color: #968B7F; }

.modal-carousel-control-prev {
  width: 3%; }

.modal-carousel-control-prev-icon {
  color: #B6AEA7;
  font-size: 60px; }

.modal-carousel-control-prev-icon:hover {
  color: #E5E2DF; }

.modal-full .modal-content {
  min-height: 800px;
  width: 97%;
  margin: 0 51px; }

.modal-carousel-control-next-icon {
  color: #B6AEA7;
  font-size: 60px; }

.modal-carousel-control-next-icon:hover {
  color: #E5E2DF; }

.image-text-centered {
  position: relative;
  top: 50%;
  text-align: center; }

.image-text {
  font-family: Avenir-Heavy;
  font-size: 19px;
  color: #FFFFFF;
  text-transform: uppercase; }

.hover {
  background-color: rgba(111, 95, 81, 0.6);
  width: 205px;
  height: 435px;
  position: absolute;
  opacity: 0; }

.hover:hover {
  opacity: 1; }

.close-test {
  background: url("icons/close.svg");
  width: 200px; }

.close {
  color: #B6AEA7; }

.close:hover {
  color: #FFCCB7; }

.modal-header {
  border-bottom: none; }

.modal-titre {
  font-family: Raleway-Medium;
  color: #968B7F; }

/*# sourceMappingURL=patisseries.css.map */
