/*---------------------------------------------------------//
//                          CSS                            //
//---------------------------------------------------------*/

/* Navbar */
header{
    background-color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link{
    font-family: avenir, sans-serif;
    font-style: black;
    font-weight: 500;
    display: inline-block;
    vertical-align: right;
    padding: 0 10px;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    z-index: 1;
    margin: 0;
    color: #6F5F51;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link:hover{
    color: #FFCCB7;
    font-weight: 900;
}

.navbar-nav{
    text-align: right;
}

.navbar-brand{
    width: 5%;
}


/* Headings */

h1{
    font-family: miller-headline, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 34px;
}

h4{
    font-family: playfair display,serif;
    font-size: 17px;
    margin: 0 0 10px;
    font-weight: 550;
    line-height: 1.4;
    letter-spacing: -.01em;
    color:#dddddd;
}

h5{
    font-family: miller-headline, serif;
    font-style: normal;
    font-size: 20px;
}

/* TEXTE */
a{
    color: white;
}

/* PRESENTATION EN IMAGES */
#presentation{
    background-image: url("../pictures/Slider%201.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    padding: 12% 0 10% 0;
}

.team-member {
  box-shadow: 10px 10px 0px #FFEAE0; 
}

.logo-accueil{
    width: 20%;
    margin-bottom: 10%;
}

.ancre-bas{
    width: 40px;
}

.main-raised {
    margin: -4% 13% 0;
}

p {
    margin: 11% 10% 0 0;
}

.rectangle{
    width: 530%;
    height: 3%;
    background: #feeae0;
    margin: 305% -20px;
}

.h1-left {
    font-family: lora, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    margin-top: 31%;
}

.p-left {
    font-family: lora, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    line-height: 2.3em;
}

.text-brown{
    color: #968B7F;
}

#section-slogan{
    background-image: url("../pictures/cta.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    padding: 200px 0;
}
.slogan{
    font-family: playfair display,sans-serif;
}

.team-member{
    width: 100%;
}
.sponsor{
    width: 100%;
}

/* FOOTER */
.footer-section{
    background-color: #232227;
    border-top: 1px solid #333;
}

.footer-text{
    color: #999;
    font-family: playfair display,serif;
}

.form-input{
    background-color: #7A7A7C;
    margin: 0;
    display: block;
    color: #fff;
    border: none;
    font-size: 12px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    width: 70%;
}

.form-input::placeholder{
    color: white;
}

.submit{
    background-color: #9e8a78;
    color: white;
    border:none;
    font-family: playfair display,sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    width: 30%;
}

.copyright{
    font-size: 12px;
    color: #ddd;
    text-transform: uppercase;
    font-family: open-sans, sans-serif;
}

.nav{
    display: block;
    text-align: right;
}

.nav li{
    display: inline-block;
}

.nav li a{
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 0;
}

.nav-link{
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 20px 0 0;
}

.nav-icons{
    display: block;
    text-align: left;
}

.footer_social{
    color: #ddd;
}

.nav-icons i{
    color: #999;
}
.nav-icons li a{
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 0px;
    padding: 0;
}

.align-left{
    font-family: open sans,sans-serif;
    font-size: 14px;
}